{% load wagtailcore_tags wagtailimages_tags %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-7 base-header">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
    <nav class="nav nav-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href='/' class='active'><span class="nav-item">Home</span></a>
                    <a href='/portfolio'><span class="nav-item">Art Gallery</span></a>
                    <a href='/sketchbook'><span class="nav-item">Sketchbook</span></a>
                    <a href='/about'><span class="nav-item">About</span></a>

                </div>
            </div>
        </div>
    </nav>
</header>

