{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ page.introduction }}
    </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            
            {% if page.image %}
            <div>
                {% image page.faceplate width-600 as photoLeft %}
                <img class="img-fluid" src="{{ photoLeft.url }}" width="{{ photoLeft.width }}" height="{{ photoLeft.height }}" alt="{{ photoLeft.alt }}" />
            </div>
            {% endif %}
            <div class="custom-nav">
                <ul class="nav-list">
                    <li><a href="/sketchbook">Sketchbook</a></li>
                    <li><a href="/portfolio">Art Gallery</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
                {% if page.image %}
                <div>
                    {% image page.image width-600 as photo %}
                    <img class="img-fluid" src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" />
                </div>
                {% endif %}
                {% if page.body %}
                {{ page.body }}
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}
